<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="education.cs.scu.mapper.ShopMapper">

    <resultMap id="shopInfo" type="ShopInfo">
        <result column="shop_id" property="shop_id"/>
        <result column="shop_name" property="shop_name"/>
        <result column="shop_addr" property="shop_addr"/>
        <result column="shop_manager" property="shop_manager"/>
        <result column="shop_telephone" property="shop_telephone"/>
        <result column="shop_describe" property="shop_describe"/>
        <result column="shop_owner" property="shop_owner"/>
    </resultMap>

        <insert id="addShopInfo" parameterType="ShopInfo">
            INSERT INTO shop_info(shop_name, shop_addr, shop_manager,
            shop_owner, shop_telephone, shop_describe)
            VALUES ( #{shop_name}, #{shop_addr}, #{shop_manager}, #{shop_owner},
            #{shop_telephone}, #{shop_describe});
        </insert>

        <select id="queryShopInfos" parameterType="User" resultMap="shopInfo">
            SELECT * FROM shop_info
            WHERE shop_owner = #{userName}
        </select>
        <update id="updateShopInfo" parameterType="ShopInfo">
            UPDATE shop_info
            SET shop_name=#{shop_name}, shop_addr = #{shop_addr}, shop_manager = #{shop_manager},
            shop_owner = #{shop_owner},shop_telephone = #{shop_telephone},
            shop_describe = #{shop_describe}
            WHERE shop_id = #{shop_id}
        </update>
</mapper>